/* --------FONTS-------- */

/* --------FIM FONTS-------- */
:root{
    --preto: #000000;
    --roxoClaro:#9d4edd;
    --roxo:#420079;
    --branco:#ffffff;
}

#pagina{
    background-color: var(--preto);
}

header{
    background-color: var(--preto);
    justify-content: space-between!important;
}

header a{
    color: var(--branco)!important;
    margin: 0px 20px;    

}
header #MR{
}

#menuNav{
    filter: brightness(10);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

#banner{
    background-image: url(../images/Frame1.png);
    height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#efeito{
    width: 50%;
    height: 100%;
    text-align: center;
    gap: 10px;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonS{
    width: 80px;
    height: 35px;
    color: var(--branco);
    border: none;
    background-color: var(--roxo);
    margin: -10px;
    
}

hr{
    width: 1px;
    height: 45px;
    margin-top: 0;
    background-color: var(--branco);
}

.buton{
    width: 100px;
    height: 28px;
    background-color: var(--roxoClaro);
    border: none;
    color: var(--branco);
    font-weight: 600;
}

#logo{
    font-weight: 700;
    text-shadow: 0px 0px 30px #9d46e4;
    filter: brightness(5);
    margin-left: 30px !important;
    font-size: 25px;

}

@media screen and (max-width: 1100px){
    #banner{
        background-image: url(../images/frame2.png);
        transition: 0.4s;
    }
}

@media screen and (max-width: 800px){
    #banner{
        background-image: url(../images/Frame3.png);
        transition: 0.4s;
    }
}

@media screen and (max-width: 650px){
    #banner{
        background-image: url(../images/frame4.png);
        transition: 0.4s;
        background-repeat: no-repeat;
    }
}

#card{
    padding: 0 70px 0 70px;
    display: flex;
    justify-content: center;    
}

#cardBody{
    width: 550px;
    height: 500px;
    color: var(--branco);
}

#about{
    width: 80% !important;
    height: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    padding: 0 0 0 29px !important;
}

#bannerA {
    width: 90%;
    height: 90%;
    margin-top: -460px;
    right:  -480px;
    position: relative;
}