/* --------FONTS-------- */

/* --------FIM FONTS-------- */
:root{
    --preto: #000000;
    --roxoClaro:#9d4edd;
    --roxo:#420079;
    --branco:#ffffff;
}

#pagina{
    background-color: var(--preto);
}

header{
    background-color: var(--preto);
    justify-content: space-between!important;
}

header a{
    color: var(--branco)!important;
    margin: 0px 20px;    

}

#menuNav{
    filter: brightness(10);
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

#banner{
    background-image: url(../images/Frame1.png);
    height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#efeito{
    width: 50%;
    height: 100%;
    text-align: center;
    gap: 10px;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonS{
    width: 80px;
    height: 35px;
    color: var(--branco);
    border: none;
    background-color: var(--roxo);
    margin: -10px;
    
}

hr{
    width: 1px;
    height: 45px;
    margin-top: 0;
    background-color: var(--branco);
}

.buton{
    width: 100px;
    height: 28px;
    background-color: var(--roxoClaro);
    border: none;
    color: var(--branco);
    font-weight: 600;
}

#logo{
    font-weight: 700;
    text-shadow: 0px 0px 30px #9d46e4;
    filter: brightness(5);
    margin-left: 30px !important;
    font-size: 25px;

}

#card{
    padding: 0 50px 0 50px;
    display: flex;   
    flex-direction: row;    
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-around;
}

#cardBody{
    width: 500px;
    height: 420px;
    color: var(--branco);
    border-radius: 40px 0  ;
    box-shadow: 0 0 20px #f1c3ffc0;
}

#about{
    width: 90% !important;
    height: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    padding: 0 0 0 50px !important;
}

#bannerA{
    width: 500px;
    height: 420px;
    box-shadow: 0 0 20px var(--roxoClaro);
    overflow: hidden;
}

.template{
    padding: 18px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media screen and (min-width: 1300px){
    #bannerA{
        width: 600px;
        height: 460px;
        box-shadow: 0 0 20px var(--roxoClaro);
        transition: 0.4s;
       
    }

    #cardBody{
        width: 600px;
        height: 460px;
        color: var(--branco);
        border-radius: 40px 0  ;
        box-shadow: 0 0 20px #f1c3ffc0;
        transition: 0.4s;
    }
}

@media screen and (min-width: 1300px){
    #bannerA{
        width: 600px;
        height: 460px;
        box-shadow: 0 0 20px var(--roxoClaro);
        transition: 0.4s;
    }

    #bannerA img{
        
        background-size: cover;
    }

    #cardBody{
        width: 600px;
        height: 460px;
        color: var(--branco);
        border-radius: 40px 0  ;
        box-shadow: 0 0 20px #f1c3ffc0;
        transition: 0.4s;
    }
}

.titleTem{
    margin: 10px 0 40px 0;
    color: var(--branco);
}

.ajtsHr hr{
    width: 100%;
    height: 2px;
    background-color: var(--branco);
    filter: brightness(5);
}

.ajtsHr{
    color: var(--branco);

}

.templateCard{
    border-radius: 0 !important;
    background-color: var(--preto);
}

span h4{
    text-align: center;
}


@media screen and (min-width: 630px){
    .templateCard{
        width: 16rem !important;
        align-items: center;
    }
}