:root{
    --preto: #000000;
    --roxoClaro:#9d4edd;
    --roxo:#420079;
    --branco:#ffffff;
}

#pagina{
    background-color: var(--preto);
}

header{
    background-color: var(--preto);
    justify-content: space-between!important;
}

header a{
    color: var(--branco)!important;
}

header #MR{
    margin-right: 30px !important;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column ;
}

#banner{
    background-image: url(../images/Frame1.png);
    height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#efeito{
    width: 50%;
    height: 100%;
    text-align: center;
    gap: 10px;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buton{
    width: 90px;
    height: 30px;
    background-color: var(--roxoClaro);
    border: none;
    color: var(--branco);
}

#logo{
    font-weight: 700;
    text-shadow: 0px 0px 30px #9d46e4;
    filter: brightness(3);
    margin-left: 30px !important;
}

@media screen and (max-width: 1100px){
    #banner{
        background-image: url(../images/frame2.png);
        transition: 0.6s;
    }
}

@media screen and (max-width: 800px){
    #banner{
        background-image: url(../images/Frame3.png);
        transition: 0.6s;
    }
}

@media screen and (max-width: 650px){
    #banner{
        background-image: url(../images/frame4.png);
        transition: 0.6s;
        background-repeat: no-repeat;
    }
}

#card{
    width: 100%;
    margin: 70px 0 0 70px;
}

#cardBody{
    width: 500px;
    height: 500px;
    background-color: var(--roxoClaro);
    padding: 20px;
}

#about{
    
}
